<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Rolling Dice Game</title>
</head>
<body>
  <h1>Guess the number the dice will roll: </h1>
  <br />
  <a href="/roll-dice/1" >Pick number 1</a>
  <br />
  <a href="/roll-dice/2" >Pick number 2</a>
  <br />
  <a href="/roll-dice/3" >Pick number 3</a>
  <br />
  <a href="/roll-dice/4" >Pick number 4</a>
  <br />
  <a href="/roll-dice/5" >Pick number 5</a>
  <br />
  <a href="/roll-dice/6" >Pick number 6</a>
  <br />
<br />
  <div>
  <h1>The dice rolled >:  <span th:text="${roll}"></span></h1>
  </div>
<br />
<div>
  <h1 th:if="${lesser}">Number picked was too low...</h1>
  <h1 th:if="${greater}">Number picked was too high...</h1>
  <h1 th:if="${correct}">Picked the correct number!</h1>
</div>

</body>
</html>